$carusel_bg: #eee;

$btn_height: 7px;
$btn_width: 50px;
$btn_background: #666;
$btn_border_radius: $btn_height/2;
$btn_opacity: 1;
$btn_marg_top_down: 0px;
$btn_marg_left_right: 3px;

$img_border_radius: 3px;
$img_margin_left_right: 0px;
$img_margin_top_botton: 0px;
$img_width: 650px;