$carusel_bg: none;
$carusel_padding: 0px;

$btn_height: 25px;
$btn_width: 7px;
$btn_background: #ccc;
$btn_border_radius: $btn_height/2;
$btn_opacity: .4;

$btn_margin_top: 10px;
$btn_margin_right: 0px;
$btn_margin_bottom: 10px;
$btn_margin_left: 0px;

$btn_transition: .5s;
$btn_hover_bg: #ccc;
$btn_hover_opacity: 1;

$img_border_radius: 3px;
$img_margin_left_right: 0px;
$img_margin_top_bottom: 0px;
$img_width: 650px;