.carusel {
  padding: $carusel_padding;
  background: $carusel_bg;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .crsl_cont{
    display: flex;
    justify-content: center;
    .crsl_list{
      width: 100%;
      list-style-type: none;
      display: flex;
      justify-content: center;
      li{
        position: relative;
        display: inline;
        img{
          border-radius: $img_border_radius;
          margin: $img_margin_top_bottom $img_margin_left_right;
          width: $img_width;
          height: 100%;
        }
      }
      #buff{
        height: 100%;
      } 
    }
  }
  .crsl_nav{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    left: -15px;
    #btn_nav {
      background: $btn_background;
      opacity: $btn_opacity;
      border-radius: $btn_border_radius;
      transition: $btn_transition;
      &:hover{
        background: $btn_hover_bg;
        opacity: $btn_hover_opacity;
        height: $btn_width;
      }
    }
    .btn_left{
      height: $btn_height;
      width: $btn_width;
      margin-bottom: $btn_margin_bottom;
    }
    .btn_numb{
      margin: 3px 0px;
      width: $btn_width;
      height: $btn_width;
    }
    .btn_right{
      height: $btn_height;
      width: $btn_width;
      margin-top: $btn_margin_top;
    }
  }
}